services:
  db:
    image: postgres:15
    container_name: sm_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: sm_web
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  redis:
    image: redis:7
    container_name: sm_redis
    ports:
      - "6379:6379"

  celery:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: sm_celery
    command: celery -A core worker --loglevel=INFO
    volumes:
      - .:/app
    depends_on:
      - redis
      - web

  celery_beat:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: sm_celery_beat
    command: celery -A core beat --loglevel=INFO
    volumes:
      - .:/app
    depends_on:
      - redis
      - web

volumes:
  postgres_data:
  media_volume:
